@font-face {
      font-family: "Alcapone Display";
      src: url("fonts/Alcapone-Display.otf") format("opentype");
}

@font-face {
      font-family: "Corbby";
      src: "fonts/corbby.woff" format("woff")
}

@font-face {
      font-family: "Anti Design Endeavour";
      src: "fonts/anti-design-endeavour.woff" format("woff");
}

@font-face {
      font-family: "Aqem Regular";
      src: "fonts/aqem-regular.woff" format("woff");
}


@font-face {
      font-family: "Mahogany";
      src: "fonts/mahogany.woff" format("woff");
}

@font-face {
      font-family: "Herralds";
      src: "fonts/herralds.woff" format("woff")
}

@font-face {
      font-family: "Curly Gloom";
      src: "fonts/curly-gloom.woff" format("woff")
}

@font-face {
      font-family: "Vallerine";
      src: "fonts/vallerine.woff" format("woff");
}

@font-face {
      font-family: "Bright Live";
      src: "fonts/bright-live.woff" format("woff");
}

@font-face {
      font-family: "Bamida";
      src: "fonts/bamida-regular.woff" format("woff")
}

@font-face {
      font-family: "Faune";
      font-weight: 400;
      src: url("fonts/faune-regular.woff"), url("fonts/faune-regular.woff2")
}

@font-face {
      font-family: "Faune";
      font-weight: 400;
      font-style: italic;
      src: url("fonts/faune-italic.woff2"), url("fonts/faune-italic.woff")
}

@font-face {
      font-family: "Faune";
      font-weight: 700;
      font-style: bold;
      src: url("fonts/faune-bold.woff2"), url("fonts/faune-bold.woff")
}


body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Faune";


}