@font-face {
      font-family: "Alcapone Display";
      src: url("fonts/Alcapone-Display.otf") format("opentype");
}

@font-face {
      font-family: "Corbby";
      src: "fonts/corbby.woff" format("woff")
}

@font-face {
      font-family: "Anti Design Endeavour";
      src: "fonts/anti-design-endeavour.woff" format("woff");
}

@font-face {
      font-family: "Aqem Regular";
      src: "fonts/aqem-regular.woff" format("woff");
}


@font-face {
      font-family: "Mahogany";
      src: "fonts/mahogany.woff" format("woff");
}

@font-face {
      font-family: "Herralds";
      src: "fonts/herralds.woff" format("woff")
}

@font-face {
      font-family: "Curly Gloom";
      src: "fonts/curly-gloom.woff" format("woff")
}

@font-face {
      font-family: "Vallerine";
      src: "fonts/vallerine.woff" format("woff");
}

@font-face {
      font-family: "Bright Live";
      src: "fonts/bright-live.woff" format("woff");
}

@font-face {
      font-family: "Bamida";
      src: "fonts/bamida-regular.woff" format("woff")
}

@font-face {
      font-family: "Faune";
      font-weight: 400;
      src: url("fonts/faune-regular.woff"), url("fonts/faune-regular.woff2")
}

@font-face {
      font-family: "Faune";
      font-weight: 400;
      font-style: italic;
      src: url("fonts/faune-italic.woff2"), url("fonts/faune-italic.woff")
}

@font-face {
      font-family: "Faune";
      font-weight: 700;
      font-style: bold;
      src: url("fonts/faune-bold.woff2"), url("fonts/faune-bold.woff")
}


body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Faune";
      background-color: #2a2a2a;
      color: white;
      line-height: 1.5;


}

section.options {
      position: fixed;
      left: 0;
      left: 0;
      height: 100vh;
      width: 280px;
      padding: 40px;
      border-right: 1px solid rgba(255, 255, 255, 0.1)
}

h1 {
      font-weight: 700;
      font-size: 1.5rem;
}

div.option {
      margin: 30px 0 0 0;
}

div.option-checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

label {
      display: block;
      margin: 0 0 5px 0;
}

input[type="text"] {
      width: 100%;
      background-color: #575757;
      border: none;
      padding: 5px;

}

textarea.output {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 64px;
      margin-left: 360px;
      margin-right: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
      width: 70vw;
      background-color: transparent;
      color: white;
      overflow: visible;
      outline: none;
      border: none;
      min-height: 100vh;
}

input[type="range"] {
      width: 100%;

}

label span {
      float: right;
}